/* #guidelines,
#declaration {
display: none !important;
} */

#msform {
	border: 1px solid red;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;	
}

/* BLOCK SCROLL */

#msform>div
{
  position: relative;
  /*margin: auto;*/
}

#block-up-arrow, #block-down-arrow {
  cursor: pointer;
}


/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*Image only BG fallback*/

	/*background = gradient + image pattern combo*/
	/*background:
		linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));*/
}

body {
	font-family: montserrat, arial, verdana;
	background-color: rgb(137, 213, 235);
	overflow: hidden;
	overflow-x: hidden;
}

p {
	color: rgba(71, 71, 72, 0.7);
	line-height: 1.5em;
}

p.content {
	color: rgba(71, 71, 72, 0.7);
}

#legal-description-intro,
#fundraising-declaration {
	text-align: left;
	font-size: 14px;
	}

#legal-description {
	text-align: left;
	font-size: 12px;
	}

/*form styles*/
#msform {
	width: 100%;
	max-width: 720px;
	margin: 0px auto;
	text-align: center;
	position: relative;

    min-height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}



#msform fieldset {
	/*background: white;*/
	border: 0 none;
	/*border-radius: 3px;*/
	/*box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);*/
	padding: 20px 30px;
	box-sizing: border-box;
	/*width: 80%;*/
	width: 100%;
	/*margin: 0 10%;*/
	margin: 0 auto;

	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}

/*inputs*/
#msform input:not(.action-button):not(.radio-button),
#msform textarea {
	/*padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;*/

    display: block;
    width: 100%;
    font-family: inherit;
    color: rgb(71, 71, 72);
    padding: 0px 0px 8px;
    border: none;
    outline: none;
    border-radius: 0px;
    appearance: none;
    background-image: none;
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    transform: translateZ(0px);
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    line-height: unset;
    /* -webkit-text-fill-color: rgba(71, 71, 72, 0.3); */
    -webkit-text-fill-color: rgba(71, 71, 72, 1.0);
    animation: 1ms ease 0s 1 normal none running native-autofill-in;
    transition: background-color 1e+08s ease 0s, box-shadow 0.1s ease-out 0s;
    box-shadow: rgb(71 71 72 / 30%) 0px 1px;
    background-color: transparent !important;
    margin-top: 25px;
    -webkit-appearance: none;
}

#msform input:not(.action-button):not(.radio-button)::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(71, 71, 72, 0.3);
  opacity: 0.3; /* Firefox */
}

#msform input:not(.action-button):not(.radio-button):-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: gba(71, 71, 72, 0.3);
}

#msform input:not(.action-button):not(.radio-button)::-ms-input-placeholder { /* Microsoft Edge */
  color: gba(71, 71, 72, 0.3);
}


#msform input:focus,
#msform textarea:focus {
color: rgba(71, 71, 72, 1.0);
-webkit-text-fill-color: rgba(71, 71, 72, 1.0);
box-shadow: rgb(71 71 72 / 100%) 0px 2px;
}

#msform input:not(.action-button):not(.radio-button):focus {
color: rgba(71, 71, 72, 1.0);
-webkit-text-fill-color: rgba(71, 71, 72, 1.0);
box-shadow: rgb(71 71 72 / 100%) 0px 2px;
}

/* RADIO INPUT */

.radiobtn {
  position: relative;
  display: block;
}
.col-2 .radiobtn {
    width: 100%;
    max-width: 310px;
    margin: 0 5px;
    display: inline-block;
}
.radiobtn label {
  display: block;
  /*background: #fee8c3;*/
  background-color: rgba(71, 71, 72, 0.1);
  /*color: #444;*/
  color: rgb(71, 71, 72);
  border-radius: 5px;
  padding: 10px 20px;
  /*border: 2px solid #fdd591;*/
  border: 2px solid rgba(71, 71, 72, 0.6);
  margin-bottom: 5px;
  cursor: pointer;
}
  .radiobtn label:hover {
  background-color: rgba(71, 71, 72, 0.2);
}
.radiobtn label:after, .radiobtn label:before {
  content: "";
  position: absolute;
  right: 11px;
  top: 11px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  /*background: #fdcb77;*/
  background-color: rgba(71, 71, 72, 0.2);
}
.radiobtn label:before {
  background: transparent;
  transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
  z-index: 2;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: center;
  width: 0;
  height: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
}
.radiobtn input[type=radio] {
  /*display: none;*/
  visibility: hidden;
  position: absolute;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.radiobtn input[type=radio]:checked + label {
  /*background: #fdcb77;*/
  backgroud: rgba(71, 71, 72, 0.2);
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  border-color: rgba(71, 71, 72, 0.8);
  /*border-color: #fcae2c;*/
}
.radiobtn input[type=radio]:checked + label:after {
  /*background: #fcae2c;*/
  background: rgba(71, 71, 72, 0.8);
}
.radiobtn input[type=radio]:checked + label:before {
  width: 20px;
  height: 20px;
}

@-webkit-keyframes blink {
  0% {
    /*background-color: #fdcb77;*/
    background-color: rgba(71, 71, 72, 0.2);
  }
  10% {
    /*background-color: #fdcb77;*/
    background-color: rgba(71, 71, 72, 0.2);
  }
  11% {
    /*background-color: #fdd591;*/
    background-color: rgba(71, 71, 72, 0.5);
  }
  29% {
    /*background-color: #fdd591;*/
    background-color: rgba(71, 71, 72, 0.5);
  }
  30% {
    /*background-color: #fdcb77;*/
    background-color: rgba(71, 71, 72, 0.2);
  }
  50% {
    /*background-color: #fdd591;*/
    background-color: rgba(71, 71, 72, 0.5);
  }
  45% {
    /*background-color: #fdcb77;*/
    background-color: rgba(71, 71, 72, 0.2);
  }
  50% {
    /*background-color: #fdd591;*/
    background-color: rgba(71, 71, 72, 0.5);
  }
  100% {
    /*background-color: #fdcb77;*/
    background-color: rgba(71, 71, 72, 0.2);
  }
}

@keyframes blink {
  0% {
    /*background-color: #fdcb77;*/
    background-color: rgba(71, 71, 72, 0.2);
  }
  10% {
    /*background-color: #fdcb77;*/
    background-color: rgba(71, 71, 72, 0.2);
  }
  11% {
    /*background-color: #fdd591;*/
    background-color: rgba(71, 71, 72, 0.5);
  }
  29% {
    /*background-color: #fdd591;*/
    background-color: rgba(71, 71, 72, 0.5);
  }
  30% {
    /*background-color: #fdcb77;*/
    background-color: rgba(71, 71, 72, 0.2);
  }
  50% {
    /*background-color: #fdd591;*/
    background-color: rgba(71, 71, 72, 0.5);
  }
  45% {
    /*background-color: #fdcb77;*/
    background-color: rgba(71, 71, 72, 0.2);
  }
  50% {
    /*background-color: #fdd591;*/
    background-color: rgba(71, 71, 72, 0.5);
  }
  100% {
    /*background-color: #fdcb77;*/
    background-color: rgba(71, 71, 72, 0.2);
  }
}

/* DATE */

#msform .date-wrapper .column span {
color: rgb(71, 71, 72, 0.7);
font-size: 12px;
}

#msform .date-wrapper input {
/*width: 25%;*/
width: 100%;
display: inline-block
}

#msform .date-wrapper input:not(.action-button):not(.radio-button),
#msform .date-wrapper textarea {
/*width: 25%;*/
width: 100%;
display: inline-block
}

#msform .date-wrapper .date-spacer {
padding: 0 5px;
display: inline-block;
font-size: 30px;
margin-top: 45px;
}

.date-wrapper .column {
  float: left;
  /*width: 33.33%;*/
  width: 28.33%;
	}
.date-wrapper .column-xs {
  float: left;
  width: 7.5%;
	}

/* Clear floats after the columns */
.date-wrapper:after {
  content: "";
  display: table;
  clear: both;
}



.action-wrapper {
margin-top: 25px;
}

.previous {
display: none;	
}



/*buttons*/
#msform input.action-button {
    /*display: block;*/
    position: relative;
    font-family: "Open Sans", sans-serif;
    /*font-family: inherit;*/
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left !important;
    cursor: pointer;
    transition-duration: 0.1s;
    transition-property: background-color, color, border-color, opacity, box-shadow;
    transition-timing-function: ease-out;
    outline: none;
    border: 1px solid transparent;
    margin: 0px;
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 12px 0px;
    padding: 6px 14px;
    min-height: 40px;
    background-color: rgb(23, 152, 205);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    -webkit-appearance: none;
}

#msform .action-button {
	/*width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;*/

    position: relative;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
    transition-duration: 0.1s;
    transition-property: background-color, color, border-color, opacity, box-shadow;
    transition-timing-function: ease-out;
    outline: none;
    border: 1px solid transparent;
    margin: 0px;
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 12px 0px;
    padding: 6px 14px;
    min-height: 40px;
    background-color: rgb(23, 152, 205) !important;
    color: rgb(255, 255, 255);
    border-radius: 4px;
}
#msform .action-button:hover, #msform .action-button:focus {
	/*box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;*/
	background-color: rgba(23, 152, 205, 0.8) !important;
}

#msform input.action-button:hover, #msform input.action-button:focus {
	box-shadow: 0 0 0 0px white, 0 0 0 0px #27AE60 !important;
	background-color: rgba(23, 152, 205, 0.8) !important;
}

/*headings*/

.heading {
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.fs-title {
	font-family: "Open Sans", sans-serif;
	font-size: 22px;
	font-weight: 600;
	text-transform: none;
	/*color: #2C3E50;*/
	color: rgb(71, 71, 72);
	margin-bottom: 10px;
}

.fs-section-title {
	font-family: "Open Sans", sans-serif;
	font-size: 25px;
	font-weight: 700;
	text-transform: none;
	color: #2C3E50;
	/*color: rgb(71, 71, 72);*/
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
        width: 100%;
    	top: 0;
	position: absolute;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
	text-indent: -9999px;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	/*display: block;*/
	display: none;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 5px;
	background: white;
	position: absolute;
	/*left: -50%;*/
	left: -100%;
	top: 0px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

/* INPUT NOTE */

.input-note {
	font-size: 10px;
	margin-top: 25px;
}

/* BUTTON NOTE */

.button-note {
	color: rgba(71, 71, 72, 0.7);
	font-size: 10px;
	margin-top: 25px;
	margin-left: 15px;
	display: inline-block;	
}

/* VALIDATION */

label.error {
    font-size: 12px;
    color: rgb(175, 4, 4);
    background-color: rgb(247, 230, 230);
    padding: 5px 8px;
    margin-top: 20px;
    border-radius: 3px;
    display: inline-block;
}

input.action-button:disabled {
    opacity: 0.4;
}


/* ALLOW SCROLL */

.allow-scroll fieldset {
	overflow-y: scroll;
	overflow-x: hidden;
	/*max-height: 100vh;*/
	height: calc(100vh - 200px);
}

.field-content-wrapper {
	width: auto;
	display: block;	
}

#salesforce-oid {
	width: auto;
}

/* SUCCESS MESSAGE */

#success-message {
    width: 100%;
    max-width: 720px;
    margin: 0px auto;
    text-align: center;
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
	    width: 100%;
    max-width: 720px;
    margin: 0px auto;
    text-align: center;
    position: relative;
    min-height: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;

}
